<template>
  <div
    class="grid grid-rows-1 grid-cols-2 sm:grid-cols-5 bg-white shadow-sm w-full"
  >
    <div
      class="col-span-2 sm:col-start-1 sm:col-end-3 sm:row-start-1 sm:row-end-4"
    >
      <img
        src="~assets/strawberries.jpg"
        class="inset-0 w-full h-full object-cover"
      />
    </div>

    <div
      class="col-span-2 row-span-1 sm:col-start-3 sm:col-end-6 text-left pl-5"
    >
      <h2 class="text-lg pt-3 font-semibold">{{ recipe.title }}</h2>
      <span class="text-sm text-gray-400">by {{ recipe.author }}</span>
      <ul class="text-sm text-gray-400 py-2">
        <li class="inline">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            width="15"
            height="15"
            class="inline align-text-top"
          >
            <path
              fill-rule="evenodd"
              d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="pl-1">{{
            recipe.difficulty[0].toUpperCase() + recipe.difficulty.substring(1)
          }}</span>
        </li>
        <li class="inline ml-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            width="15"
            height="15"
            class="inline align-text-top"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
              clip-rule="evenodd"
            /></svg
          ><span class="pl-1">{{ recipe.duration }} minutes</span>
        </li>
      </ul>
    </div>

    <div
      class="col-span-2 row-span-1 sm:row-start-2 sm:col-start-3 sm:col-end-6 text-left pl-5 pr-2"
    >
      <p class="text-sm">
        {{ recipe.desc_short }}
      </p>
    </div>

    <div
      class="col-span-2 sm:row-start-3 sm:col-start-3 sm:col-end-6 text-left pl-5 py-5"
    >
      <div class="flex">
        <div class="flex-auto flex w-9 h-9">
          <NuxtLink
            :to="`/recipe/${recipe.slug}`"
            class="w-1/2 flex items-center justify-between rounded-md text-white bg-gradient-to-r from-pantone to-pantone-light transform hover:translate-x-2 transition duration-200 ease-in-out focus:outline-none focus:ring-1 focus:ring-pantone-light"
          >
            <span class="ml-2">Take a look</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              width="15"
              height="15"
              class="inline mr-2"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
              <path
                fill-rule="evenodd"
                d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    recipe: Object,
  },
});
</script>