<template>
  <div class="grid auto-rows-auto grid-cols-3 bg-white shadow-sm w-full">
    <div class="col-span-4">
      <img
        src="~assets/strawberries_md.jpg"
        class="inset-0 w-full h-full object-cover rounded-l-none"
      />
    </div>

    <div class="col-span-4 text-left pl-5 pt-2">
      <h1 class="text-3xl font-black text-slate">{{ recipe.title }}</h1>
      <p class="text-sm font-semibold text-gray-400">by {{ recipe.author }}</p>
      <p class="text-sm font-semibold text-gray-400">
        Published on {{ publishDate }}
      </p>
      <ul class="text-sm text-gray-400 py-2">
        <li>Difficulty: {{ recipe.difficulty[0].toUpperCase() + recipe.difficulty.substring(1) }}</li>
        <li>Duration: {{ recipe.duration }} minutes</li>
      </ul>
    </div>

    <div
      class="col-span-3 md:col-span-2 row-start-4 md:row-auto text-left pl-5 py-2 pr-5 md:pr-0"
    >
      <h2 class="text-xl font-black text-slate">Directions</h2>
      <p>{{ recipe.directions }}</p>
    </div>

    <div
      class="col-span-3 row-start-3 row-end-4 md:col-start-3 text-left pl-5 py-2 md:rounded-tl-xl md:ml-5 md:bg-gray-100"
    >
      <h2 class="text-xl font-black text-slate">Ingredients</h2>
      <p>{{ recipe.ingredients }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    recipe: Object,
  },
  computed: {
    publishDate: function() {
      const date = new Date(this.recipe.date);
      return new Intl.DateTimeFormat().format(date);
    }
  }
});
</script>