<template>
  <div
    class="container min-h-screen justify-center items-center text-center mx-auto grid grid-rows-1 lg:grid-rows-3 grid-cols-1 grid-flow-row gap-4"
  >
    <div class="row-start-1 row-end-2 lg:row-start-2 lg:row-end-2 mx-2 lg:mx-0">
      <div
        class="text-5xl lg:text-8xl tracking-wide text-slate"
        style="font-weight: 1000"
      >
        Moody Recipes
      </div>
      <div class="font-semibold text-2xl lg:text-4xl text-slate pt-4 pb-6">
        How are you feeling right now?
      </div>
      <div class="button-group space-x-4">
        <NuxtLink
          to="/recipes?mood=happy"
          class="text-white rounded-md px-4 py-2 mx-auto inline-flex items-center bg-gradient-to-r from-pantone to-pantone-light hover:shadow-2xl transform hover:-translate-y-1 transition duration-200 ease-in-out focus:outline-none focus:ring-1 focus:ring-pantone-light"
        >
          <span>Happy</span>
        </NuxtLink>
        <NuxtLink
          to="/recipes?mood=sad"
          class="text-white rounded-md px-4 py-2 mx-auto inline-flex items-center bg-gradient-to-r from-pantone to-pantone-light hover:shadow-2xl transform hover:-translate-y-1 transition duration-200 ease-in-out focus:outline-none focus:ring-1 focus:ring-pantone-light"
        >
          <span>Sad</span>
        </NuxtLink>
        <NuxtLink
          to="/recipes?mood=sick"
          class="text-white rounded-md px-4 py-2 mx-auto inline-flex items-center bg-gradient-to-r from-pantone to-pantone-light hover:shadow-2xl transform hover:-translate-y-1 transition duration-200 ease-in-out focus:outline-none focus:ring-1 focus:ring-pantone-light"
        >
          <span>Sick</span>
        </NuxtLink>
      </div>
    </div>
    <div class="text-slate mt-auto mb-5 min-w-full row-start-2 row-end-2 lg:row-start-3 lg:row-end-3">
      <div class="">
        Made with
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          width="15"
          height="15"
          class="inline"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 15.546c-.523 0-1.046.151-1.5.454a2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.701 2.701 0 00-1.5-.454M9 6v2m3-2v2m3-2v2M9 3h.01M12 3h.01M15 3h.01M21 21v-7a2 2 0 00-2-2H5a2 2 0 00-2 2v7h18zm-3-9v-2a2 2 0 00-2-2H8a2 2 0 00-2 2v2h12z"
          />
        </svg>
        by
        <a href="https://soeren.codes" class="border-b border-pantone-light"
          >Søren Johanson</a
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({});
</script>

<style>
.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 1000;
  font-size: 100px;
  color: #f5f5f5;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #fff;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.button-group {
  font-size: 20px;
}

.links {
  padding-top: 15px;
}
</style>
