<template>
  <div
    class="container min-h-screen justify-center items-center text-center mx-auto max-w-2xl"
  >
    <nav class="w-full flex pt-2 text-sm px-4 md:px-0">
      <div class="relative flex flex-1 items-center justify-between h-9">
        <div class="absolute inset-y-0 left-0 flex items-baseline">
          <NuxtLink to="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              width="20"
              height="20"
              class="inline text-pantone-light"
            >
              <path
                fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
            <span class="border-b border-pantone-light">Go home</span>
          </NuxtLink>
        </div>

        <div class="absolute inset-y-0 right-1 flex items-baseline">
          <NuxtLink to="/submitrecipe">
            <span class="border-b border-pantone-light">Submit new recipe</span>
          </NuxtLink>
        </div>
      </div>
    </nav>

    <div class="py-5 text-left px-5 md:px-0">
      <h2 class="text-3xl text-slate font-bold">{{ moodText.lead }}</h2>
      <span class="text-md text-slate">{{ moodText.sub }}</span>
    </div>

    <ul class="pb-5 space-y-6">
      <li v-for="recipe in recipes" :key="recipe.slug">
        <RecipeOverview :recipe="recipe"/>
      </li>
    </ul>

    <div class="text-slate mt-auto pb-5 min-w-full">
      <div class="">
        Made with
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          width="15"
          height="15"
          class="inline"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 15.546c-.523 0-1.046.151-1.5.454a2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.701 2.701 0 00-1.5-.454M9 6v2m3-2v2m3-2v2M9 3h.01M12 3h.01M15 3h.01M21 21v-7a2 2 0 00-2-2H5a2 2 0 00-2 2v7h18zm-3-9v-2a2 2 0 00-2-2H8a2 2 0 00-2 2v2h12z"
          />
        </svg>
        by
        <a href="https://soeren.codes" class="border-b border-pantone-light"
          >Søren Johanson</a
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  async asyncData({ query, $content }) {
    const recipes = await $content("recipes").where({ mood: query.mood }).fetch();

    return { recipes };
  },
  computed: {
    moodText: function () {
      switch (this.$route.query.mood) {
        case "happy":
          return {
            lead: "Having a party?",
            sub: "Here are some recipes to keep the mood up.",
          };
          break;
        case "sad":
          return {
            lead: "Feeling down?",
            sub: "Here are some recipes to cheer you up!",
          };
          break;
        case "sick":
          return {
            lead: "Get well soon!",
            sub: "Here are some recipes to help you get back up.",
          };
          break;
        default:
          return {
            lead: "",
            sub: "",
          };
          break;
      }
    },
  },
});
</script>